<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SIGN UP</title>
</head>
<body>
<h1>회원가입</h1>
<form th:action="@{/signUpConfirm}" th:object="${memberVo}" method="post">
    <p>
        <label>아이디</label>
        <input type="text" th:field="*{m_id}" placeholder="아이디">
    </p>
    <p>
        <label>이름</label>
        <input type="text" th:field="*{m_name}" placeholder="이름">
    </p>
    <p>
        <label>비밀번호</label>
        <input type="password" th:field="*{m_pw}" placeholder="비밀번호">
    </p>
    <p>
        <label>메일 주소</label>
        <input type="email" th:field="*{m_mail}" placeholder="메일 주소">
    </p>
    <p>
        <label>연락처</label>
        <input type="text" th:field="*{m_phone}" placeholder="연락처">
    </p>
    <p>
        <button type="submit">SIGN UP</button>
        <button type="reset">CANCEL</button>
    </p>
</form>
<p>
    <a th:href="@{/}">홈으로</a>
    |
    <a th:href="@{/signIn}">로그인</a>
</p>
</body>
</html>
